
.buttonsForPack {
    display: flex;
    margin: 10px
}

.buttonPacks {
    width: 90px;
    height: 36px;
    background: #9A91C8;
    border-radius: 2px;
    border: white;
}

.active {
    opacity: 0.5;
    width: 90px;
    height: 36px;
    background: #D7D8EF;
    border-radius: 2px;
    border: white;
}

@media screen and (max-width: 1150px) {
    .buttonPacks {
        width: 70px;
        height: 40px;
        background: #9A91C8;
        border-radius: 2px;
        border: white;
        display: flex;
        align-items: center;
    }

    .active {
        opacity: 0.5;
        width: 70px;
        height: 40px;
        background: #D7D8EF;
        border-radius: 2px;
        border: white;
        display: flex;
        align-items: center;
    }
}


@media screen and (max-width: 500px) {
    .buttonsForPack {
        display: block;
        margin: 10px
    }

    .buttonPacks {
        width: 50px;
        height: 40px;
        background: #9A91C8;
        border-radius: 2px;
        border: white;
        display: flex;
        align-items: center;
    }

    .active {
        opacity: 0.5;
        width: 50px;
        height: 40px;
        background: #D7D8EF;
        border-radius: 2px;
        border: white;
        display: flex;
        align-items: center;
    }
}