.container {
    height: 720px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    width: 413px;
    height: 552px;
    background: #F9F9FE;
    border-radius:15px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

.passInput {
    width: 347px;
    height: 48px;
    left: 467px;
    top: 299px;
}

.eay {
    width: 24px;
    height: 24px;
    left: 774px;
    top: 312px;
}
.confirmPass {
    margin-top: 20px;
    border: 1px solid black;
}

.share {
    left: 4.17%;
    right: 4.17%;
    top: 18.75%;
    bottom: 18.75%;
    background: #2D2E46;
}

.path {
    left: 37.5%;
    right: 37.5%;
    top: 37.5%;
    bottom: 37.5%;
    background: #DADADA;
}

.path3 {
    left: 4.17%;
    right: 4.17%;
    top: 18.75%;
    bottom: 18.75%;
    background: #DADADA;
}

.path2 {
    left: 29.17%;
    right: 29.17%;
    top: 29.17%;
    bottom: 29.17%;
    background: #DADADA;
}

.buttonForLogin {
    width: 266px;
    height: 36px;
    background: #21268F;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: white;
}
@media screen and (max-width: 360px) {
    .group {
        padding: 10px;
    }
}