.container {
    width: 270px;
}
.center {
    display: flex;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
    margin:8px
}
.buttonDelete {
    display: flex;
    justify-content: right;
    width: 295px;
}
.buttons {
    margin-top:20px ;
    display: flex;
    justify-content: space-evenly;
}
.button {
    width: 127px ;
    height:  36px;
    background: #F1453D;
    border-radius: 30px;
    border: white;
}
.button2 {
    width: 127px ;
    height:  36px;
    background: #D7D8EF;
    border-radius: 30px;
    border: white;
}
.buttonAddModal {
    width:     184px ;
    height:     36px;
    background: #21268F;
    border-radius: 30px;
    border: white;
    color:white;
}
.buttonSave {
    width:     113px ;
    height:     36px;
    background: #366EFF;
    border-radius: 30px;
    border: white;
    color:white;
}
.buttonCancel {
    width:     113px ;
    height:     36px;
    background: grey;
    border-radius: 30px;
    border: white;
    color:white;
}
.buttonGroup {
    margin-top:20px ;
    display: flex;
    justify-content: space-evenly;
}
.error {
    color: red
}

.errorInput {
    border: solid 1px red;
}